[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "anesrake"]
	path = anesrake
	url = https://github.com/cran/anesrake
[submodule "weights"]
	path = weights
	url = https://github.com/cran/weights
